<div class="postlist" itemscope="itemscope" itemtype="http://schema.org/Blog">
  <div class="row title-description">
    <h1>{{ page.title }}</h1>
<h1>Research</h1>
<h2>Working title: Further information from my research trips in India</h2>
    <p> I am a PhD student and an electrical engineer from Finland. I study off-grid solar micro-grids and energy access in India, with the special focus on the technical reliability and sustainability. In 2016, I participated in an extensive measurement experiment of PV micro-grid supply and demand in Uttar Pradesh in India in collaboration with Columbia University and Boond Ltd, an Indian social entrepreneur. On this website, I share information from my research trips in India. The views and opinions are of my own. </p>
  </div>
  {% if page.buttons == true %}
  <div class="row meta">
    <div class="col-sm-6">
      <a href="{{ site.url }}{{ site.baseurl }}/blog/tags/">Tags Cloud</a>
    </div>
    <div class="col-sm-6">
      <a href="{{ site.url }}{{ site.baseurl }}/blog/search/">Search</a>
    </div>
  </div>
  {% endif %}
  <div class="row content">
    {% for post in site.categories.blog %}
    <div class="wrap">
      <div class="time-and-count-comments" datetime="{{ post.date | date:'%Y-%m-%d' }}">
        <time class="time">
          {% datelang post %}
          {% include datelang/post %}
        </time>
        {% if post.comments and dbase.userdata.disqus.username %}
          <div class="count-comments">
            {% if site.screen.icons.enable == true %}<i class="fa fa-comments"></i>{% endif %}<span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}">0</span>
          </div>
        {% endif %}
      </div>
      <div class="url">
        <h1>
          <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h1>
        {% if post.excerpted %}<p class="excerpted">{{ post.excerpted | strip_html | truncatewords:26 }}<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="continue">{{ dbase.website.strings.postlist.continue }}</a></p>{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
