<div class="postlist" itemscope="itemscope" itemtype="http://schema.org/Blog">
<div class="row title-description">
{% imager energyusersrow.jpg|left|100% %}
<br>
<p>
30 June, 2020. I am about to open a new blog series about energy saving, smarter
energy consumption, and about the rather incomprehensible demand side management
(DSM) theory and concept and the new, flexible energy prosumer. Stay tuned!
</p>
<h2>Energy Blog</h2>
</div>
<div class="row content">
{% assign posts=site.posts %}
{% for post in posts %}
{% if post.categories contains 'energy' %}
<div class="wrap">
<div class="time-and-count-comments" datetime="{{ post.date | date:'%Y-%m-%d' }}">
<time class="time">
{% datelang post %}
{% include datelang/post %}
</time>
{% if post.comments and dbase.userdata.disqus.username %}
<div class="count-comments">
  {% if site.screen.icons.enable == true %}<i class="fa fa-comments"></i>{% endif %}<span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}">0</span>
</div>
{% endif %}
</div>
<div class="url">
<h1>
<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
</h1>
{% if post.excerpted %}<p class="excerpted">{{ post.excerpted | strip_html | truncatewords:26 }}<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="continue">{{ dbase.website.strings.postlist.continue }}</a></p>{% endif %}
</div>
</div>
{% endif %}
{% endfor %}
</div>
</div>
